<div id="doc-call" class="container-fluid doc-call-container ">
    <div class="row doc-call-row">
        <div class="col-md-10 nofloat center-block">
            <div class="col-sm-9 text-center nofloat center-block">
                <h2 class="doc-call-title"> Lorem Ipsum Documentation</h2>
                <p class="doc-call-text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <button class="btn-flat btn-grpc waves-effect waves-light btn-doc-call">GET STARTED</button>
                <div class="lang-selector">
                    <p class="lang-selector-text"> Or go straight to Quick Start in the language of your choice:</p>
                    <div class="lang-select-row">
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">C++</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Go</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">C#</button>
                    </div>
                    <div class="lang-select-row">
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Java</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Ruby</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Objective-C</button>
                    </div>
                    <div class="lang-select-row">
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Python</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">Node.js</button>
                        <button class="btn-flat btn-grpc waves-effect inverse lang-select">PHP</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>