<div id="doc-call" class="container-fluid doc-call-container ">
    <div class="row doc-call-row">
        <div class="col-md-10 nofloat center-block">
            <div class="col-sm-9 text-center nofloat center-block">
                <h2 class="doc-call-title">Want to learn more?</h2>
                <p class="doc-call-text"> Get started by learning concepts and doing our hello world quickstart in language of your choice.</p>
                <a href="{{site.baseurl}}/docs"><button class="btn btn-grpc waves-effect waves-light btn-doc-call">GET STARTED</button></a>
                <div class="lang-selector">
                    <p class="lang-selector-text"> Or go straight to Quick Start in the language of your choice:</p>
                    <div class="lang-select-row">
                        <a href="{{site.baseurl}}/docs/quickstart/cpp.html" class="btn btn-grpc waves-effect inverse lang-select">C++</a>
                        <a href="{{site.baseurl}}/docs/quickstart/java.html" class="btn btn-grpc waves-effect inverse lang-select">Java</a>
                        <a href="{{site.baseurl}}/docs/quickstart/python.html" class="btn btn-grpc waves-effect inverse lang-select">Python</a>

                    </div>
                    <div class="lang-select-row">
                        <a href="{{site.baseurl}}/docs/quickstart/go.html" class="btn btn-grpc waves-effect inverse lang-select">Go</a>

                        <a href="{{site.baseurl}}/docs/quickstart/ruby.html" class="btn btn-grpc waves-effect inverse lang-select">Ruby</a>
                        <a href="{{site.baseurl}}/docs/quickstart/csharp.html" class="btn btn-grpc waves-effect inverse lang-select">C#</a>

                    </div>
                    <div class="lang-select-row">
                      <a href="{{site.baseurl}}/docs/quickstart/node.html" class="btn btn-grpc waves-effect inverse lang-select">Node.js</a>
                        <a href="{{site.baseurl}}/docs/quickstart/android.html" class="btn btn-grpc waves-effect inverse lang-select">Android Java</a>

                        <a href="{{site.baseurl}}/docs/quickstart/objective-c.html" class="btn btn-grpc waves-effect inverse lang-select">Objective-C</a>
		    </div>
                    <div class="lang-select-row">
                        <a href="{{site.baseurl}}/docs/quickstart/php.html" class="btn btn-grpc waves-effect inverse lang-select">PHP</a>
		    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
