<div class="footer">
    <div class="container">
        <div class="left-links">
            <img class="footer-logo" src="{{ site.baseurl }}/img/footer-logo.png" alt="GRPC">
            <p>gRPC open source lorem ipsum dolor sit amet</p>
            <p>&copy; 2016 Lorem Ipsum Dolor</p>
        </div>
        <div class="right-links">
            <div class="col-md-4 col-sm-4 col-xs-12 footer-documentation">
                <ul>
                    <li><p class="right-link-headers">Documentation</p></li>
                    <li><a href="#"><p>Overview</p></a></li>
                    <li><a href="#"><p>Quick Start</p></a></li>
                    <li><a href="#"><p>Guides</p></a></li>
                    <li><a href="#"><p>Tutorials</p></a></li>
                    <li><a href="#"><p>Reference APIs</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
                <ul>
                    <li><p class="right-link-headers">Resources</p></li>
                    <li><a href="#"><p>About</p></a></li>
                    <li><a href="#"><p>Blog</p></a></li>
                    <li><a href="#"><p>FAQ</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-5 col-sm-5 col-xs-12 footer-community">
                <ul>
                    <li><p class="right-link-headers">Community</p></li>
                    <li><a href="#"><p class="github community-links">Github</p></a></li>
                    <li><a href="#"><p class="google community-links">Google+</p></a></li>
                    <li><a href="#"><p class="twitter community-links">Twitter</p></a></li>
                    <li><a href="#"><p class="stack-overflow community-links">Stack Overflow</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
