<nav id="common-nav" class="navbar navbar-static-top inverse col-sm-11 nofloat center-block">
  <div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" id="hamburger" class="navbar-toggle collapsed" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img class="logo" src="{{ site.baseurl }}/img/grpc_inverse.svg" alt="GRPC">
      </a>
    </div>

  <div class="top-nav right">
    {% assign current = page.url | downcase | split: '/' %}
    <li class="nav-item"><a href="{{ site.baseurl }}/">Home</a><div id="nav-toggle" class="icon-close"></div></li>
    <hr>
    <li class="nav-item"><a href="{{ site.baseurl }}/about/" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
    <hr>
    <li class="nav-item"><a href="{{ site.baseurl }}/docs/" {% if current[1] == 'docs' %}class='current'{% endif %}>Docs</a>
      <div id="nav-doc-toggle" class="icon-caret"></div>
      <ul class="doc-list">
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/overview" {% if current[2] == 'overview' %}class='current'{% endif %}>Overview</a></li>
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/quickstart" {% if current[2] == 'quickstart' %}class='current'{% endif %}>Quick Start</a></li>
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/guides" {% if current[2] == 'guides' %}class='current'{% endif %}>Guides</a></li>
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/tutorials" {% if current[2] == 'tutorials' %}class='current'{% endif %}>Tutorials</a></li>
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/reference" {% if current[2] == 'reference' %}class='current'{% endif %}>Reference</a></li>
        <li class="nav-doc-tab"><a href="{{ site.baseurl }}/docs/samples" {% if current[2] == 'samples' %}class='current'{% endif %}>Samples</a></li>
      </ul>
    </li>
    <hr>
    <li class="nav-item"><a href="{{ site.baseurl }}/blog/" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a></li>
    <hr>
    <li class="nav-item"><a href="{{ site.baseurl }}/community/" {% if current[1] == 'community' %}class='current'{% endif %}>Community</a></li>
    <hr>
    <li class="nav-item"><a href="{{ site.baseurl }}/faq/" {% if current[1] == 'faq' %}class='current'{% endif %}>FAQ</a></li>
  </div>

    <ul class="nav navbar-nav navbar-right">
      {% assign current = page.url | downcase | split: '/' %}
      <li><a href="{{ site.baseurl }}/about/" {% if current[1] == 'about' %}class='current'{% endif %}>About</a></li>
      <li><a href="{{ site.baseurl }}/docs/" {% if current[1] == 'docs' %}class='current'{% endif %}>Docs</a></li>
      <li><a href="{{ site.baseurl }}/blog/" {% if current[1] == 'blog' %}class='current'{% endif %}>Blog</a></li>
      <li><a href="{{ site.baseurl }}/community/" {% if current[1] == 'community' %}class='current'{% endif %}>Community</a></li>
      <li><a href="{{ site.baseurl }}/faq/" {% if current[1] == 'faq' %}class='current'{% endif %}>FAQ</a></li>
    </ul>
    <div class="container">
      <h3 class="page-headline">{{page.headline}}</h3> 
    </div>
  </div><!-- /.container-fluid -->
</nav>
