 contentDiv {
    background-color: orange;
    height: 200px;
    position: relative;
    width: 200px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}



body {
    
    margin:0 auto;
}

.topbanner {
    width:100%;
    color:#0CC1C8;
    padding-top:2%;
    padding-bottom:5%;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:16pt;
    background-image:url('../img/graphic-04.svg');
    background-repeat: repeat;
    position:relative;
   background-size: 100%;
    
}

.topbannersub {
    width:100%;
    color:white;
    padding-top:2%;
    padding-bottom:3%;
    text-align:left;
    float:center;
    font-family: 'Open Sans', sans-serif;
    font-weight:300;
    font-size:18pt;
    background-image:url('../img/graphic-04.svg');
    background-repeat: repeat;
    position:relative;
   background-size: 100%;
    
}


.topnav {
    
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:10pt;
    letter-spacing:0.05em;
    margin-right:5%;
    word-spacing:2em;
    color:white;
   
    text-align:right;
   
    z-index:99;
    text-transform:uppercase;
    
}


.logonav {
    
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:10pt;
    float:left;
    position:absolute;
    letter-spacing:0.05em;
    margin-left:5%;
    word-spacing:2em;
    color:white;
    z-index:1;
    text-align:left;
    text-transform:uppercase;
    
}

.subnav {
    
    font-family: 'Open Sans', sans-serif;
    font-weight:400;
    font-size:10pt;
    letter-spacing:0.05em;
background-color:#EBF2F2;
    color:#505050;
    padding-top:2%;
    padding-bottom:2%;
 
    text-align:center;
    text-transform:uppercase;
    
}

.headertext {
 font-size:30pt;
 padding-top:6%;
 
 text-align:center;
}

.topbannertext{
   width:30%;
   margin-left:34%;
   padding:1%;
}

.bannerlogo {
    padding-top:4%;
    float:left;

    width:100%:
}

.bannerlogosub {
    
    padding-top:2%;
    float:left;
    width:100%:
}


.bannerlogo img{
    
    
    width:50%:
}


button {
    font-family: 'Open Sans', sans-serif;
    background-color:white;
    color:#333333;
    border:0px solid;
    padding-left:3%;
    padding-right:3%;
    font-weight:bold;
    padding-top:1.5%;
    padding-bottom:1.5%;
    margin:2%;
    font-size:13pt;
}

.section2 {
    padding-top:3%;
    font-family: 'Open Sans', sans-serif;
    width:70%;
    font-size:13pt;
    color:#505050;
    line-height:1.7em;
    padding-left:15%;
    text-align:center;
    font-weight:100;
}


.section3 {
    font-family: 'Open Sans', sans-serif;
    width:80%;
    padding-left:10%;
    font-weight:100;
    float:left;
    margin-bottom:5%;
    background-color:white;
    text-align:center;
    position:relative;
}


.doccols {
 
    margin-bottom:3%;
    font-family: 'Open Sans', sans-serif;
    width:100%;
     padding-top:2%;
     padding-bottom:2%;
    font-weight:100;
    background-color:#EBF2F2;
    padding-left:15%;

    float:left;
    
}

a {
 color:#0CC1C8;
 font-weight:400;
 text-decoration:none;
 
}

.cols {
    margin-top:5%;
     margin-bottom:3%;
    font-family: 'Open Sans', sans-serif;
    width:100%;
    font-weight:100;
    background-color:#EBF2F2;
    padding-left:10%;
    padding-top:2%;
    float:left;
    
}


.quickstartcols {

     margin-bottom:17%;
    font-family: 'Open Sans', sans-serif;
    width:80%;
    margin-left:10%;
    font-weight:100;
    font-size:11pt;
    padding-left:8%;
    
    float:left;
    
}


.quickstartcol1 {

    float:left;
    text-align:left;
    width:15%;
    line-height:2em;
    padding-top:%;
    margin-right:2%;
    padding:3%;
    padding-right:0%;
    padding-top:5%;

}


.quickstartcol2 {

    float:left;
    text-align:left;
    width:60%;
    line-height:1.6em;
    padding-top:%;
    margin-right:2%;
    padding-left:3%;
    padding-left:5%;
   border-left:0.5px solid #cccccc;
}

.blogcols {

    margin-bottom:17%;
    font-family: 'Open Sans', sans-serif;
    width:80%;
    margin-left:8%;
    font-weight:100;
    font-size:11pt;
    padding-left:8%;
    float:left;
    
}

.singleblog {

    margin-bottom:10%;
    font-family: 'Open Sans', sans-serif;
    width:70%;
    margin-left:15%;
    font-weight:100;
    font-size:11pt;
margin-top:4%;
    float:left;
    
}

.blogcol1 {

    float:left;
    text-align:left;
    width:60%;
    line-height:1.6em;
    padding-top:%;
    margin-right:2%;
    padding:3%;
    padding-left:0px;
    padding-right:3%;
    padding-top:2%;
    font-size:10pt;

}


.blogcol2 {

    float:left;
    text-align:left;
    width:20%;
    line-height:2em;
    padding-top:1%;
    font-size:9pt;
    margin-right:2%;
    padding-left:1%;
    padding-left:3%;
    margin-top:4%;
   border-left:0.5px solid #cccccc;
}



.docscol1 {

    float:left;
    width:25%;
    line-height:2em;
    padding-top:%;
    margin-right:2%;
    padding-bottom:3%;
}

.docscol2 {
    float:left;
    width:25%;
     line-height:2em;

    margin-right:2%;
    padding-bottom:3%;
}

.docscol3 {
    float:left;
    width:25%;
     line-height:2em;
   
    margin-right:2%;
    padding-bottom:3%;
}

.docstext {
    font-family: 'Open Sans', sans-serif;
    width:70%;
    float:left;
    font-size:12pt;
    text-align:center;
    padding-bottom:1%;
    color:#707070;
    line-height:1.5em;
    padding-right:5%;
    margin-top:1%;
}


.col1 {
    float:left;
    width:40%;
    padding-top:2%;
    margin-right:2%;
    padding-bottom:3%;
}

.col2 {
    float:left;
    width:40%;
     padding-top:2%;
        padding-bottom:2%;
}

.col1image{
    float:left;
    display:block;
    width:25%;
    margin-right:2%;
    margin-bottom:8%;
    padding:3%;
    display:block;
}

.col2image{
    float:left;
    width:25%;
    margin-right:2%;
    padding:2%;
}

.colpart1 {
    
    float:left;
    padding-bottom:2%;
}

.colpart2 {
    
    float:left;
    padding-top:2%;
}


.companybox {
   
}

.companybox img{
    position:relative;
    margin:1.15%;
    padding:1%;
    width:8%;
    opacity:0.3;
    text-align:center;
    float:left;
    display:inline-block;
    border: 1px solid grey;
    float:left;
    background-color:white;
}



.section4 {
    font-family: 'Open Sans', sans-serif;
    width:90%;
    background-size:100%;
    float:left;
    font-size:14pt;
    text-align:center;
    background-image:url('../img/graphic-04.svg');
    background-repeat: no-repeat;
    position:relative;
   background-size: 100%;
    padding-bottom:7%;
    padding-left:5%;
    padding-right:5%;
    padding-top:3%;
    color:white;
    margin-top:2%;
}


h2 {
    
    font-family: 'Open Sans', sans-serif;
    font-size:18pt;
    color:#0CC1C8;
    font-weight:300;
    
}


h3 {
    
    font-family: 'Open Sans', sans-serif;
    font-size:18pt;
    color:#33838b;
    font-weight:300;
    padding-top:2%;
    
}
h4 {
    
    font-family: 'Open Sans', sans-serif;
    font-size:24pt;
    padding-top:3%;
    padding-bottom:0%;
    color:#33838b;
    margin-bottom:0px;
    background-color:#EBF2F2;
    color:#0CC1C8;
    font-weight:300;
    margin-top:3%;
    
}

h5 {
    
    font-family: 'Open Sans', sans-serif;
    font-size:9pt;

    font-weight:300;

    
}
