.btn {

  &:focus {
    outline: 0 !important;
  }

  &.btn-grpc {
    background-color: $mainBrandColor;
    color: $white;
    font-size: $font-size--xxs;
    font-weight: 300;
    letter-spacing: 1px;
    padding: $spacing--xs $spacing--xl;
    transition: 0.3s;

    @media (min-width: $tablet) {
      padding: $spacing--xxs $spacing--m;
    }

    &:active {transform: scale(0.98);}

    &.inverse{
      background-color: $white;
      border: 2px solid $mainBrandColor;
      color: $mainBrandColor;
      font-weight: 500;
    }
  }

  &.btn-floating {
    background-color: $white;
    border-radius: 50%;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
    height: 50px;
    width: 50px;
    z-index: $z-above-top;
    
    &.down-caret {
      bottom: -25px;
      left: 50%;
      padding: 0;
      position: absolute;
      transform: translateX(-50%);
    }
  }
}

.btn-link {
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
}

.icon-caret {
  background: url('../img/caret.svg') no-repeat center/cover; 
  height: 45px;
  margin: 3px auto 0;
  width: 45px;
}
