.btn {
  &:focus {
    outline:0 !important;
  }
}

.btn.btn-grpc {
  font-weight: 400;
  letter-spacing: 1px;
  padding: 7px 20px;
  font-size: 12px;
  background-color: $mainBrandColor;
  color: $white;
  transition: 0.3s;
  @media (max-width: 769px) {
    padding: 12px 30px;
    font-size: 14px;
  }
  &:active {transform: scale(0.98);}
  &.inverse{
    font-weight: 600;
    background-color: $white;
    color: $mainBrandColor;
    border: 2px solid $mainBrandColor;
  }
}

.btn.btn-floating {
  z-index: 1000;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
  &.down-caret {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    .icon {
      height: 15px;
      width: 25px;
      background: url('../img/down-arrow.svg') no-repeat center/cover; 
      margin: 5px auto 0;
    }
  }
}

.btn-link {
  text-transform: uppercase;
  display: inline-block;
  &::hover {
    cursor: pointer;
  }
}
