.contribute-links {
	position: absolute;
	right: 0px;
	top: 20px;
	display: none;
	@media (min-width: $tablet) {
        display: initial;
    }
	a {
		font-size: .85rem;
		display: inline-block;
		&::after {
        	content: none;
        	display: none;
        }
	}
	p {
		font-size: .85rem;
	}
	.github {
		&:before {
			content: '';
			display: inline-block;
			background: url('../img/github.svg') no-repeat center/cover; 
			width: 22px;
			height: 22px;
			vertical-align: middle;
        }
	}

}
