.doc-nav {
	display: block;
	margin-top: $spacing--m;
	margin-bottom: $spacing--m;
	.doc-caret {
		@media (min-width: $tablet) {
			display: none;
		}
	}
	.tab {
		display: inline-block;

		&.docs-tab  {
			a {	
				font-weight: 300;
				display: inline-block;
				border-bottom: 2px solid $gray;
				@media (min-width: $tablet) {
					display: none;
				}
			}
		}
		a {
			margin-right: 16px;
			color: $gray;
			letter-spacing: 0.5px;
			font-weight: 400;
			display: none;
			font-size: .85rem;
			border-bottom: 2px solid transparent;
			&:hover {
				border-bottom: 2px solid $gray;
			}
			@media (min-width: $tablet) {
				font-weight: 300;
				display: inline-block;
			}
		}
		.current {
			display: inline-block;
			border-bottom: 2px solid $gray;
			color: $gray;
			@media (min-width: $tablet) {
				border-bottom: 2px solid $secondBrandColor !important;
				color: $secondBrandColor;
			}
		}
	}
}

.doc-side-nav {
	background-color: $light-gray;
	margin-bottom: 20px;
	@media (min-width: $tablet) {
		padding: $spacing--xs 0 $spacing--xl;
		margin-bottom: 0;
	}

	.current {
		&:before{
			content: '>';
		}
	}
	.doc-side-nav-title {
		padding: $spacing--s;
	}
	.doc-side-nav-list-item {
		display: inline-block;
		padding: 2px $spacing--s;
		width: 100%;
		a {
			font-size: 13px;
			color: $dark-gray;
			font-weight: 400;
		}
	}
}

.doc-side-nav-tutorial {

  h6 {
    color: $dark-gray;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }
  .submenu {
    padding: 2px 15px;
  }

  .submenu-link {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    color: $gray;

    &.active:before {
      content: '>';
    }
  }
}
