.doc-nav {
	display: block;
	margin-top: $spacing--l;
	margin-bottom: $spacing--l;

	.tab {
		display: inline-block;

		&.docs-tab  {
			a {	
				font-weight: 300;
				display: inline-block;
				border-bottom: 2px solid $gray;
				@media (min-width: $tablet) {
					display: none;
				}
			}
			&:after {
				content: ' > ';
				@media (min-width: $tablet) {
					content: none;
				}
			}
		}

		a {
			margin-right: $spacing--m;
			color: $gray;
			font-weight: 400;
			display: none;
			@media (min-width: $tablet) {
				display: inline-block;
			}
		}
		.current {
			display: inline-block;
			border-bottom: 2px solid $gray;
			color: $gray;
			@media (min-width: $tablet) {
				border-bottom: 2px solid $secondBrandColor;
				color: $secondBrandColor;
			}
		}
	}
}

.doc-side-nav {
	background-color: $light-gray;
	padding: $spacing--xs 0 $spacing--xl;
	display: none;
	@media (min-width: $tablet) {
		display: block;
	}

	.current {
		&:before{
			content: '>';
		}
	}
	.doc-side-nav-title {
		padding: $spacing--s;
	}
	.doc-side-nav-list-item {
		display: inline-block;
		padding: 2px $spacing--s;
		width: 100%;
		a {
			font-size: 13px;
			color: $dark-gray;
			font-weight: 400;
		}
	}
}