.nav-hero-container {
    background: url('../img/hero-bg.png') no-repeat center/cover ; 
}


.hero {
    padding-bottom: 60px;
    position: relative;
    text-align: center;
    @media (min-width: $tablet) {
        padding-bottom: 75px;
    }

    .logo {
        border-radius: 1px;
        border: 6px solid $white;
        margin-bottom: $spacing--l;
        margin-top: $spacing--l;
        padding: $spacing--s $spacing--m;
        width: 195px;
    }
    .hero-lead {
        color: $white;
        display: block;
        font-size: 18px;
        margin-bottom: $spacing--l;
        font-weight: 200;
    }
}