.nav-hero-container {
    background: url('../img/hero-bg.png') no-repeat center/cover ; 
}
.hero {
    position: relative;
    padding-top: 0;
    padding-bottom: 60px;
    @media (min-width: $tablet) {
        padding-bottom:75px;
    }
    text-align: center;
    h1 {
        font-size: 21px;
    }

    .logo {
        width: 195px;
        padding: 13px 20px;
        border: 2px solid white;
        border-radius: 1px;
        box-shadow: 1px 2px 4px 0 rgba(0,0,0,0.4);
        margin: 0 0 25px;
    }
    .lead {
        color: $white;
        display: block;
        font-size: 18px;
        margin-bottom: 27px;
    }
}

.hero-bar {
    text-align: center;
    background-color: $thirdBrandColor;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border-top: 3px solid $lightPopBrandColor;
}