#common-nav{
    padding-top: 10px;
    margin-bottom: 0px;
    background-color: transparent;
    color: $white;
    .page-headline {
        color: $white;
        font-weight: 300;
        padding: 20px 0;
    }
    .logo {
        width: 60px;
    }
    .current {
        border-bottom: 3px solid white;
    }
}

h4.arrow-d, h4.arrow-r {
    cursor: pointer;
    &::before{
        font-size: 1.25em;
        font-family: monospace;
        font-weight: bold;
    }
}

// Expandy nav items
h4.arrow-r::before {
    content: "+";
    margin-right: 8px;
}

h4.arrow-d::before {
    content: "-";
    margin-right: 8px;
}

.submenu-content {
    display: none;
    margin-left: 30px;
}
