#common-nav{
    margin-bottom: 0px;
    background-color: $secondBrandColor;
    color: $white;
    .logo {
        width: 60px;
    }
    .current {
        border-bottom: 3px solid white;
    }
}

h4.arrow-d, h4.arrow-r {
    cursor: pointer;
    &::before{
        font-family: monospace;
        font-weight: bold;
    }
}

// Expandy nav items
h4.arrow-r::before {
    content: "+ ";
}

h4.arrow-d::before {
    content: "- ";
}
