//tabs
.ui-widget-content {
  font-size:14px !important;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: $textColor !important;
}

.ui-widget-content a {
  color: $mainBrandColor ;
}

.ui-widget-content a:hover, a:focus {
  color: $linkHoverColor;
}