.about {
    .about-sections {
        padding: 20px 0;
        position: relative;
    }

    .about-max {
        margin-bottom: 15px;
        @media(min-width: $tablet) {
            max-width: 70%; 
        }
    }
    p {
        font-size: .9rem;
    }
    p.lead {
        font-size: 17px;
        margin-bottom: 40px;
    }

    .about-lists {
        list-style: disc inside; 
        padding-left: 1em;
        text-indent: -1em;
    }

    .intro {
        margin-bottom: 20px;
    }

    .main-usage-title {
        margin: 10px 0;
    }

    .core-features-title {
        margin: 15px 0 10px 0;
    }

    .case-studies-title {
        margin: 20px 0;
    }

    .more-btn {
        position: absolute;
        right: 0;
        left: 0;
        bottom: 10px;
        margin: 0 auto;
        text-align: center;

        @media(min-width: 990px) {
            bottom: initial;
            text-align: right;
        }
    }

    .more-btn-text {
        font-size: .85em;
        &::after {
            content: '';
            display: inline-block;
            vertical-align: bottom;
            background: url('../img/more-arrow.png') no-repeat center/cover;
            width: 25px;
            height: 25px;
            margin: 0 0 0 10px;
        }
    }

    .case-studies-container {
        margin-top: 35px;
        margin-bottom: 35px;
        max-width: 85%;

        &::after {
          content: '';
          display: table;
          width: 100%;
        }

        @media(min-width: $tablet) {
            max-width: 85%;
        }
    }

    .case-studies-link {
        text-align: center;
    }

    .case-studies-img {
        height: 65px;
    }

    .external-link-icon {
        width: 15px;
    }

    .case-studies-img,
    .external-link-icon {
        display: block;
        margin: 15px auto;
    }

    .pt-container {
        margin-top: 65px;
        margin-bottom: 40px;

        &::after {
          content: '';
          display: table;
          width: 100%;
        }
    }

    .pt-video {
        height: 175px;
        background: url('../img/pt-video-placeholder.png') no-repeat center/cover;
    }
    
    .pt-desc {
        font-size: .85em;
        font-weight: 300;
        text-align: center;
        margin-top: 40px;
        
        @media (min-width: 768px) {
            text-align: left;
            margin: 0;
        }
    }

    .story {
        padding: 25px 0 100px;
    }

    .more-story {
        font-weight: 500;
        margin: 20px 0 0;

        .underline {
            text-decoration: underline;
        }

    }
    
    // Slick overrides
    .slick-dots {
        bottom: 30px; 
        & li.slick-active button:before {
            color: $mainBrandColor; 
            opacity: 1;
        }

        & li button:before {
            font-size: 12px; 
        }

        & li {
            margin: 0;
        }
    }

}
