.about {

  .about-sections {
    padding: $spacing--xxxl 0;
    position: relative;
  }

  .about-max {
    margin-bottom: $spacing--s;

    @media(min-width: $tablet) {
      max-width: 70%;
    }
  }

  p {
    font-size: .9rem;
  }

  p.lead {
    font-size: 17px;
    margin-bottom: $spacing--xxl;
  }

  .about-lists {
    list-style: disc inside;
    padding-left: 1em;
    text-indent: -1em;
  }

  .intro {
    margin-bottom: $spacing--m;
  }

  .main-usage-title {
    margin: $spacing--xs 0;
  }

  .core-features-title {
    margin: $spacing--s 0 $spacing--xs;
  }

  .case-studies-title {
    margin: $spacing--m 0;
  }

  .case-studies-quote {
    color: #727272;
    font-size: 14px;
    font-style: italic;
    font-weight: 200;
    letter-spacing: .5px;

    .apos {
      color: $gray;
      display:inline-block;
      font-weight: 300;
      height: 10px;
      margin-right: 3px;
      transform: scale(4,4);
    }
  }

  .more-btn {
    bottom: 10px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;

    @media(min-width: 992px) {
      bottom: initial;
      text-align: right;
    }
  }

  .more-btn-text {
    font-size: .9rem;

    &::after {
      background: url('../img/more-arrow.png') no-repeat center/cover;
      content: '';
      display: inline-block;
      height: 25px;
      margin: 0 0 0 10px;
      vertical-align: middle;
      width: 25px;
    }
  }

  .case-studies-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
    margin-top: 35px;

    a::after {
      content: '';
      display: table;
      width: 100%;
    }
  }

  .case-studies-link {
    text-align: center;

    &::after {
      display: none;
    }
  }

  .case-studies-img {
    height: 65px;
  }

  .external-link-icon {
    width: 15px;
  }

  .case-studies-img,
  .external-link-icon {
    display: block;
    margin: $spacing--s auto;
  }

  .pt-container {
    margin-top: 65px;
    margin-bottom: $spacing--xxl;

    &::after {
      content: '';
      display: table;
      width: 100%;
    }
  }

  .pt-content {
    text-align: center;

    @media (min-width: $tablet) {
      margin: 5px 0 $spacing--s;
    }
  }

  .pt-video {
    background: url('../img/pt-video-placeholder.png') no-repeat center/cover;
    height: auto;
    max-width: 100%;
    width: auto;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  .pt-desc {
    font-size: .85em;
    font-weight: 300;
    margin-top: $spacing--xxl;
    text-align: center;

    @media (min-width: 768px) {
      margin: 0;
      text-align: left;
    }
  }

  .story {
    padding: $spacing--xxxl 0 100px;
  }

  .more-story {
    font-weight: 500;
    margin: $spacing--m 0 0;

    .underline {
      text-decoration: underline;
    }

  }

  .videoWrapper {
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: $spacing--l;
    position: relative;
  }

  .videoWrapper iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  // Slick overrides
  .slick-dots {
    bottom: 50px;

    @media (min-width: 321px) {
      bottom: 30px;
    }

    & li.slick-active button:before {
      color: $mainBrandColor;
      opacity: 1;
    }

    & li button:before {
      font-size: 12px;
    }

    & li {
      margin: 0;
    }
  }
}
