body.blog {
    hr {
        margin-bottom: 0;
    }
    hr:last-of-type {
        display: none;
    }
    .post-thumbnail {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .post-title {
        color: $black;
        font-size: 17px;
        letter-spacing: 1px;
        font-weight: 500;
        margin: 50px 0 8px;
    }
    .post-date {
        font-size: 11px;
        color: $black;
    }
    .post-thumbnail {
        margin: 15px 10px 0 0;
        display: inline-block;
        vertical-align: top;
    }
    .post-author {
        margin-top: 30px;
        font-size: 13px;
        display: inline-block;
        color: $gray;
    }
    .post-excerpt {
        h2 {
            font-size: 15px;
            margin-top: 20px;
        }
        p {
        font-size: 14px;
        margin-top: 20px;
        }
    }

    .read-more {
        line-height: 24px;
        font-size: 10px;
        margin: 30px 0;
        letter-spacing: 0.5px;
        .read-more-text {
            &::after {
                content: '';
                display: inline-block;
                vertical-align: bottom;
                background: url('../img/more-arrow.png') no-repeat center/contain;
                width: 24px;
                height: 24px;
                margin: 0 0 0 10px;
            }
        }
    }
    .pagination {
        width: 100%;
    }

    .caret-left {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        background: url('../img/caret.svg') no-repeat center/contain;
        transform: rotate(90deg);
        width: 24px;
        height: 24px;
        margin: 0;
    }

    .next, .previous {
        padding: 0;
        display: inline-block;
        line-height: 22px;
    }

    .caret-right {
        content: '';
        display: inline-block;
        vertical-align: bottom;
        background: url('../img/caret.svg') no-repeat center/contain;
        transform: rotate(-90deg);
        width: 24px;
        height: 24px;
        margin: 0;
    }

    .toc {
        margin-top: 50px;
    }
}




// Blog posts list page (all posts)
.postdate {
    margin-bottom: 20px;
    font-size: 12px;
    // Tuck in the date field closer to headline.
    position: relative;
    top:-5px;
}

body.post {
    .post {
        padding-top: 50px;
    }
    .content-attribution {
        margin: 50px 0 30px;
        color: $dark-gray;
        font-size: 15px;
        font-style: italic;
    }
}
