// Docs layout specific
.docs {
	.doc-header {
		padding-bottom: 30px;
	}

	.doc-description {
		color: $dark-gray;
		margin: 0 0 40px;
		display: block;
		p { 
			font-size: 18px;
			font-weight: 400;
		}
	}

	.use-description {
		color: $gray;
		margin: 20px 0;
		display: block;
		p { 
			font-size: 15px;
			font-weight: 300;
		}
	}

	.lang-card-selector {
		width: 100%;
	    padding: 0 0 30px;
	}

	.lang-card {
		display: inline-block;
		margin: 0 1% 30px;
	    text-align: center;
	    width: 30%;
		.lang-card-title {
			background: $light-gray;
			color: $dark-gray;
			padding: 8px;
			text-align: left;
			margin-bottom: 4px;
		}
		.lang-card-link {
			font-size: 14px;
			display: block;
			text-align: left;
			padding: 8px;
		}
	    @media (max-width: 768px) {
	        margin: 20px 1%;
	        padding: 6px 10px;
	        width: 47%;
	    }
	}
}
