// Docs layout specific
.docs {
  
  *[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -1em;
    height: 1em;
    visibility: hidden; 
  }

  .doc-header {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  
  .doc-description {
    color: $dark-gray;
    display: block;
    margin: 0 0 40px;

    p { 
      font-size: 18px;
      font-weight: 400;
    }
  }

  .use-description {
    color: $gray;
    display: block;
    margin: 20px 0;

    p { 
      font-size: 15px;
      font-weight: 300;
    }
  }

  .lang-card-selector {
    padding: 0 0 30px;
    width: 100%;
  }

  .lang-card {
    display: inline-block;
    margin: 0 1% 30px;
    text-align: center;
    vertical-align: top;
    width: 30%;

    @media (max-width: $tablet) {
      margin: 20px 1%;
      padding: 6px 10px;
      width: 47%;
    }
    
    .lang-card-title {
      background: $light-gray;
      color: $dark-gray;
      margin-bottom: 4px;
      padding: 8px;
      text-align: left;
    }

    .lang-card-link {
      display: block;
      font-size: 14px;
      padding: 8px;
      text-align: left;
    }
  }

  .pt-container {
    margin-top: 65px;
    margin-bottom: $spacing--xxl;

    &::after {
      content: '';
      display: table;
      width: 100%;
    }
  }

  .pt:hover {
    cursor: pointer;
  }

  .pt-content {
    text-align: center;
    width: 100%;
    height: 100%;

    @media (min-width: $tablet) {
      margin: 5px 0 $spacing--s;
    }
  }

  .pt-video {
    background: url('../img/pt-video-placeholder.png') no-repeat center/cover;
    height: auto;
    max-width: 100%;
    width: auto;

    @media (min-width: $tablet) {
      width: 100%;
    }
  }

  .pt-desc {
    font-size: .85em;
    font-weight: 300;
    margin-top: $spacing--xs;
    text-align: center;
    
    @media (min-width: 800px) {
      margin: 0;
      text-align: left;
    }
  }

  .story {
    padding: $spacing--xxxl 0 100px;
  }

  .more-story {
    font-weight: 500;
    margin: $spacing--m 0 0;

    .underline {
      text-decoration: underline;
    }

  }

  .img-container {
    position: relative;
  }

  .after-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }

  .pt-content:hover {
    .after-overlay {
      display: block;
      background: rgba(0,0,0,.2);
    }
  }

  .pt-thumbnail {
    max-width: 100%;
    max-height: 100%;
  }

  .pt-lightbox {
    opacity: 0;
    pointer-events: none;
    position: relative;

    &.active {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      pointer-events: all;
      z-index: 10000;
      opacity: 1;
      background: rgba(0,0,0,.7);
      transition: 250ms linear;
      -webkit-transition: 250ms linear;
      -moz-transition: 250ms linear;
      -ms-transition: 250ms linear;
      -o-transition: 250ms linear;
    }
  }
  
  .pt-player {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: calc(320px*.5625);
    margin: auto;

    @media (min-width: $tablet) {
      top: 0;
      width: 75%;
      height: calc(75%*.5625);
    }
  }
  
  .pt-video-wrapper {
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
  }

  .pt-video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
