// FAQ page
.faq-container {
    padding-bottom: 150px;
    
    .submenu-content p,li,ul{
        font-size: 12px;
        font-weight: 400;
    }

    .lead,
    .faq-title {
        color: $titleColor;
    }

    .lead {
        font-size: 1.1rem;
        margin: 20px 0 0 0;
        @media (min-width: $tablet) {
            margin: 50px 0 0 0;
        }
    }

    .faq-title {
        margin: 40px 0 0 0;
    }
    h6 {
        font-size: 0.95rem;
        letter-spacing: 1px;
    }

    h6.arrow-d,
    h6.arrow-r {
        margin: 30px 0 5px 0;
        color: $linkColor;
    }

    h6.arrow-d {
        color: $titleColor;
    }
}
