<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css">
    <title>{{ block "title" . }}
      {{ .Site.Title }}
    {{ end }}</title>
  </head>
  <body>

    <div id="landing-content">
      <div class="row">
        <div class="topbanner{{ if not .IsHome }}sub{{ end }}">
          <div class="logonav">
                <img src="{{ .Site.BaseURL }}img/grpc-logo.png" style="width:10%">
            </div>
            <div class="topnav">
                <a href="{{ .Site.BaseURL }}about/">{{ if in .RelPermalink "about" }}+{{ end }}About</a>
		<a href="{{ .Site.BaseURL }}docs/">{{ if in .RelPermalink "docs" }}+{{ end }}Docs</a>
		<a href="{{ .Site.BaseURL }}blog/">{{ if in .RelPermalink "blog" }}+{{ end }}Blog</a> 
		<a href="{{ .Site.BaseURL }}community/">{{ if in .RelPermalink "community" }}+{{ end }}Community</a>
		<a href="https://packages.grpc.io/">Packages</a> 
		<a href="{{ .Site.BaseURL }}faq/">{{ if in .RelPermalink "faq" }}+{{ end }}FAQ</a>
            </div>
    {{ block "main" . }}
    {{ end }}
    {{ block "footer" . }}
    {{ end }}
  </body>
</html>
