
{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <div id="landing-content">
    <div class="row">
        <div class="topbannersub">
          <div class="logonav">
                <img src="../img/grpc-logo.png" style="width:10%">
            </div>
            <div class="topnav">
                About Docs Blog Community Packages FAQ
            </div>
            <div class="headertext">{{ .Title }}</div>
  </div>
        </div>
        </div>

  <div class="section2" style="text-align:left;margin-bottom:5%">
    {{ .Content }}
  </div>
{{ end }}
