<div class="subnav">
  <a href="{{ .Site.BaseURL }}docs/">{{ if eq (countrunes .RelPermalink) 6 }}+{{ end }}Overview</a>
|  <a href="{{ .Site.BaseURL }}docs/quickstart/">{{ if in .RelPermalink "quickstart" }}+{{ end }}Quick Start</a>
|  <a href="{{ .Site.BaseURL }}docs/guides/">{{ if in .RelPermalink "guides" }}+{{ end }}Guides</a>
|  <a href="{{ .Site.BaseURL }}docs/tutorials/">{{ if in .RelPermalink "tutorials" }}+{{ end }}Tutorials</a>
|  <a href="{{ .Site.BaseURL }}docs/reference/">{{ if in .RelPermalink "reference" }}+{{ end }}Reference</a>
|  <a href="{{ .Site.BaseURL }}docs/samples/">{{ if in .RelPermalink "samples" }}+{{ end }}Samples</a>
|  <a href="{{ .Site.BaseURL }}docs/talks/">{{ if in .RelPermalink "talks" }}+{{ end }}Presentations</a>
</div>
