{{ define "main" }}

  <div id="landing-content">
    <div class="row" >
        <div class="topbanner">
         <div class="logonav">
                <img src="img/grpc-logo.png" style="width:10%">
            </div>
            <div class="topnav">
                About    Docs    Blog    Community Packages  FAQ
            </div>
            <div class="bannerlogo"><img src="img/grpc-logo.png" style="width:30%"></div>
            <div class="topbannertext">A high performance, open-source universal RPC framework</div>
           <div class="button">
                <a href="docs/guides/concepts.html#service-definition"><button>GET STARTED</button></a>
            </div>
           <a href="#arrow"><div class="contentDiv">
           <img class="arrow" src="img/arrow.svg" /></a>
         </div>
        
      </div>
  </div>

  {{ .Content }}    


{{ end }}
