---
title: docs
layout: default
bodyclass: docs
---

{% include doc-nav.html %}

{% assign current = page.url | downcase | split: '/' %}
        {% if current[1] == 'docs' and current[2] != 'index.html' and current[2] != 'overview' %}
        <div class="container">
            <div class="row">
                <div class="col-md-11 nofloat center-block ">
                    <div class="col-sm-3">
                        {% if current[2] == 'guides' %}
                            {% include doc-side-guides-nav.html %}
                        {% elsif current[2] == 'quickstart' %}
                            {% include doc-side-quickstart-nav.html %}
                        {% elsif current[2] == 'samples' %}
                            {% include doc-side-samples-nav.html %}
                        {% elsif current[2] == 'tutorials' %}
                            {% include doc-side-tutorial-nav.html %}
                        {% endif %}
                    </div>
                    <div class="col-sm-7 {{ page.type }}">
                        {{ content }}
                    </div>
                    <div id="toc" class="toc col-sm-2"></div>
                </div>
            </div>
        </div>
        {% else %}
            {% if page.type == 'markdown' %}
            <div class="container {{ page.type }}">
                <div class="row">
                    <div class="col-md-11 nofloat center-block ">
                        <div class="col-sm-12">
                            {{ content }}  
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
                {{ content }}
            {% endif %}
        {% endif %}


