// Shared
.vpad {
    padding-top: $vpad;
}

.page-title-bar{
    background-color: $thirdBrandColor;
    border-top: 3px solid $lightPopBrandColor;
    padding-top: 20px;
    padding-bottom: 30px;

    .fa {
        color: $popBrandColor;
    }
}

.page-spacer {
    height: 100px;
}



#toc {
    border-left: 5px solid $secondBrandColor;
    ul {
        list-style-type: none;
        padding-left: 22px;
    }
}