// Shared
.vpad {
    padding-top: $vpad;
}

.page-title-bar{
    background-color: $thirdBrandColor;
    border-top: 3px solid $lightPopBrandColor;
    padding-top: 20px;
    padding-bottom: 30px;

    .fa {
        color: $popBrandColor;
    }
}

.page-spacer {
    height: 100px;
}

.section {
    padding: 50px 0;
    position: relative;
}

.section-divider {
    position: absolute;
    width: 100%; 
    left: 0;
    border-bottom: 2px solid #e3e3e3;
    margin: 0;
}



.toc {
    padding: 0;
    border-left: 2px solid $light-gray;
    display: none !important;
    @media (min-width: 768px) {
        display: block !important;
    }
    ul {
        list-style-type: none !important;
        padding-left: 10px;
        font-size: 14px;
        font-weight: 500;
        ul {
            font-weight: 400;
            font-size: 12px;
        }
        a {
            color: $dark-gray;
        }
    }
}

.toc.mobile-toc{
    display: none !important;
    @media (max-width: 768px) {
        margin-top: 30px;
        display: block !important;
        border-left: 4px solid $light-gray;
    }
}