h1 {
	font-size: 50px;
	color: white;
}

h2 {
	font-size: 30px;
	font-weight: 300;
	color: $black;
}

h3 {
	font-size: 30px;
	font-weight: 200;
	color: $black;
}

h5 {
	font-weight: 600;
	color: $black
}
p {
  font-weight: 200;
}
